.wishlist {
  max-width: 100%;
}
.wishlist-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 150px;
  width: 100%;
}
.wishlist table {
  margin: 70px 30px;
  max-width: 100%;
}
.wishlist-table-head,
.wishlist-table-body {
  max-width: 100%;
}
table,
tr,
th,
td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 25px 50px;
}
table img {
  width: 100%;
  height: 60px;
}
.remove-icon {
  transition: 0.5s;
  cursor: pointer;
}
.remove-icon:hover {
  color: #ff5050;
}
table button {
  border: 1px solid #ff5050;
  background-color: transparent;
  width: 100px;
  height: 40px;
  text-align: center;
  transition: 0.5s;
}
table button:hover {
  background-color: #ff5050;
  color: #fff;
}
.no-product-para {
  color: #ff5050;
  margin: 20px;
  font-size: 18px;
}

/* START RWD */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .wishlist,
  .wishlist table {
    max-width: 100%;
  }
  .wishlist-title {
    width: 100%;
  }
  .wishlist-table-head {
    display: none;
  }
  .wishlist table {
    border: none;
    display: flex;
    flex-wrap: wrap;
  }
  .wishlist-table-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .wishlist-table-body button {
    width: 150px;
    height: 60px;
  }
  .wishlist-table-body img {
    width: 100%;
    height: 400px;
  }
}
@media screen and (min-width: 401px) and (max-width: 767px) {
  .wishlist,
  .wishlist table {
    max-width: 100%;
  }
  .wishlist-title {
    width: 100%;
  }
  .wishlist-table-head {
    display: none;
  }
  .wishlist table {
    border: none;
    display: flex;
    flex-wrap: wrap;
  }
  .wishlist-table-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  table,
  tr,
  th,
  td {
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .wishlist-table-body button {
    width: 150px;
    height: 60px;
  }
  .wishlist-table-body img {
    width: 100%;
    height: 400px;
  }
}
/* END RWD */
