.cart {
  max-width: 100% !important;
}
.cart-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-bottom: 50px;
  width: 100%;
}
.cart table {
  width: 100% !important;
}

table,
tr,
th,
td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 25px 70px;
}
table img {
  width: 100%;
  height: 60px;
}
.remove-icon {
  transition: 0.5s;
  cursor: pointer;
}
.remove-icon:hover {
  color: #ff5050;
}
table button {
  border: 1px solid #ff5050;
  background-color: transparent;
  width: 100px;
  height: 40px;
  text-align: center;
  transition: 0.5s;
}
table button:hover {
  background-color: #ff5050;
  color: #fff;
}

/* START RWD */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .cart-table-body {
    text-align: center;
    width: 100%;
  }
  .cart-table-subtotal {
    width: 100%;
  }
  .cart-table-body td {
    width: 100%;
  }
  .cart-table-body td p {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }
  .cart-table-head {
    display: none;
  }
  .cart {
    max-width: 100%;
    margin-left: 50px;
  }
  .cart table {
    border: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .cart-table-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
  }
  .cart-table-body button {
    width: 150px;
    height: 60px;
  }
  .cart-table-body img {
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .cart-table-head {
    display: none;
  }
  .cart {
    max-width: 100%;
    margin-left: 50px;
  }
  .cart table {
    border: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .cart-table-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .cart-table-body button {
    width: 150px;
    height: 60px;
  }
  .cart-table-body img {
    width: 100%;
    height: 400px;
  }
}
/* END RWD */
